h3:nth-child(odd) {
    color: pink;
  }
  
  #greycol {
    color: grey;
  }
  
  div > p:first-child {
    color: red;
  }
  
  p:nth-child(odd) {
    color: green;
  }
  
  .yellow {
    color: yellow;
  }
  